table {
	font-size: 2em;
	margin: 1em;
}

td {
	background: #eee;
	height: 3em;
	padding: .5em;
	text-align: center;
	width: 2em;
}

td.one {
	background: #66CCFF;
}

td.two {
	background: #FF8080;
}
