table {
	font-size: 2em;
	margin: 1em;
}

td {
	background: #eee;
	padding: .5em;
	text-align: center;
}

td.one {
	background: #66CCFF;
}

td.two {
	background: #FF8080;
}

/*span {
	background: #eee;
	font-size: 2em;
	padding: .5em;
	text-align: center;
}*/

/*.tbl {
	display: table;
	width: 100%;
	table-layout: fixed;
	background: #eee;
}*/

.cell {
	background: #eee;
	font-size: 2em;
	display: inline-block;
	/*vertical-align: middle;*/
	text-align: center;
	border: .03175em solid #999;
	width: 1.25em;
	padding: .5em;
}